---
title: 'This is my Site Title'
---

<!DOCTYPE html>
<html>
<head>
  <title>Site Title | </title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link href='/main.css' rel='stylesheet' />

  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.css" />
  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
    </div>
    <div class="home">
      {{content}}
    </div>
  </div>
</body>
